#placeSections {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}

#main-Attractions {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	min-width: 30%;
	margin: 3px;
	text-align: center;
}

#main-Weather {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	min-width: 30%;
	margin: 3px;
	text-align: center;
}

#main-Hotels {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	min-width: 30%;
	margin: 3px;
	text-align: center;
}

#main-General {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	min-width: 30%;
	margin: 3px;
	text-align: center;
}

#main-Packing {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	min-width: 30%;
	margin: 3px;
	text-align: center;
}

#main-Food {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	min-width: 30%;
	margin: 3px;
	text-align: center;
}

#searchbar {
	margin-left: 80%;
	padding: 15px;
	border-radius: 10px;
}

input[type="text"] {
	width: 15%;
	-webkit-transition: width 0.15s ease-in-out;
	transition: width 0.15s ease-in-out;
}

/* When the input field gets focus, 
	  change its width to 100% */
input[type="text"]:focus {
	width: 70%;
}
